.home-container {
  padding: 2rem 2rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  width: 75%;
  margin: 0 auto;
}

.home__intro {
  font-family: $title-font;
  text-transform: uppercase;
  color: $primary-color;
  font-size: 4rem;

  & span {
    color: $secondary-color;
  }
}

.home__profile {
  width: 350px;
  height: 350px;
  border-radius: 20%;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.intro_about {
  margin: 0 2rem 2rem 2rem;
}

.sections__title {
  font-weight: bold;
  font-size: 4rem;
  color: rgba($color: #b0b0b0, $alpha: 1);
  margin-left: -25px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.intro_about-p {

  font-size: 1.4rem;
  line-height: 30px;
  text-indent: 2em;
  color: black;
  width: 70%;
  margin: 0 auto;
}

.img-skills {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.img-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  justify-content: center;
}

.img-skills-container {
  display: flex;
  font-size: 1.4em;
  align-items: center;
  justify-content: space-between;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
  margin: 1rem 2rem;
}


@media screen and (max-width: 500px) {

  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #intro_text {
    order: 2
  }

  #intro_photo {
    order: 1
  }

  .home__profile {
    width: 250px;
  height: 250px;
  }

  .intro_about-p {
    padding: 0 2rem;
    width: 100%;
  }

  .home__intro {
    text-align: center;
    margin: 2rem 0;
    font-size: 2em;
  }

  .sections__title {
    font-size: 2rem;
  }

  .intro_about {
    padding: 0;
  }

}
