
.projects__title {
  color: $primary-color;
  font-size: 2rem;
  margin-left: 2rem;
}


.projects__container {
  margin: 0 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img {
  width: 18rem;
  height: 14rem;
}

.projects__item {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 20rem;
  box-sizing: border-box;
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.30);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(9.2px);
  padding: 1rem;


  &--title {
    font-size: 1.4rem;
    color: $projects-title-font-color;
    padding-bottom: 0.5rem;
  }
}

.react-projects__container {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem 2rem 2rem;
}

.sections__title-type {
  font-weight: bold;
  font-size: 2rem;
  color: rgba($primary-color, $alpha: 0.8);
  margin-left: -25px;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.main-project-img {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.main-project-content {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.main-projects__wrapper {
  margin: 2rem auto;
  width: 90%;
}

.main-project-text {
  margin: 2rem auto;
  width: 40%;
  & p {
    font-size: 1.2rem;
    line-height: 30px;
  }
}

ul {
  width: 100%;
}

.projects__item--title {
  font-size: 1.4rem;
  color: $projects-title-font-color;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: left;
}

.main-project-title {
  font-size: 2rem;
  color: $projects-title-font-color;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
  .projects__title {
    text-align: center;
    margin: 0;
  }

  .main-project-text {
    margin: 2rem auto;
    width: 100%;
    & p {
      font-size: 1.2rem;
      line-height: 30px;
    }
  }

  .main-project-content {
    flex-direction: column;
    align-items: center;
  }

  .main-project-img {
    width: 300px;
  }
   .react-projects__container {
    margin: 0;
   }

   .buttons {
    margin: 1rem 0rem;
   }
}
