.img-skills {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.img-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  justify-content: center;
}

.img-skills-container {
  display: flex;
  font-size: 1.4em;
  align-items: center;
  justify-content: space-between;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
  margin: 1rem 2rem;
}

@media screen and (max-width: 500px) {
  .img-skills-wrapper {
    margin: 0;
  }

  .img-skills-container {
    font-size: 1.2em;
    margin: 1rem 0.4rem;
  }

  .img-skills {
    height: 30px;
  width: 30px;
  }
}
