$background-color: #eef5ef;
$primary-color: rgb(244, 58, 123);
$white: #fff;
$projects-title-font-color: #648b67;
$font: "Alegreya Sans", sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$title-font: 'Space Grotesk', sans-serif;
