$background-color: #ffffff;
$secondary-color: rgb(175, 175, 175);
$primary-color: rgb(244, 58, 123);
$white: #fff;
$projects-title-font-color: #303730;
$font: "Karla", sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$title-font: 'Rubik Mono One', sans-serif;
